header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1vh;
    font-size: 2em;
    font-weight: bold;
    background-color: white;
    padding-bottom: 1%;
    box-shadow: 0px 0px 5px 2px black;
}

.head-nav {
    text-align: right;
    text-decoration: none;
}

body {
    background-color: lightblue;
    font-family: Futura, sans-serif;
    margin: 0px;
}

p, ul {
    font-size: 2em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
    align-items: flex-end;
}

.welcome-page {
    font-size: 3em;
    text-align: center;
}

#main-message {
    padding: 10vh;
}

img {
    max-width: 30%;
    height: auto;
    padding: 0px;
}

#about-img2, #about-text2, .right-title, #portfolio-pic2, #portfolio-text2 {
    text-align: right;
    display: block;
    margin-left: auto;
}

.divider-line {
    border: 1px solid black;
}

#my-work {
    text-align: center;
}

a:hover {
    opacity: 50%;
}

a {
    color: black;
    text-decoration: none;
}

#first-home-div {
    font-family: Pacifico, cursive;
}

div {
    padding-left: 20%;
    padding-right: 20%;
}